.button {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 6px 18px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Font size */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Cursor pointer */
  border-radius: 6px; /* Border radius */
}

.color-blue-red {
  background-color: blue;
  color: red;
}

.color-gray-blue {
  background-color: gray;
  color: blue;
}

.color-yellow-red {
  background-color: yellow;
  color: red;
}
